{% extends 'base.html' %}

{% block content %}

<hr>

<h1>Selecciona una colección:</h1>

    <!-- Formulario para seleccionar y mostrar detalles de una colección -->
    <form method="get" action="{% url 'mostrar_coleccion' %}">
        {% csrf_token %} <!-- Token CSRF para protección contra ataques CSRF -->

        <!-- Menú desplegable con las opciones de colecciones -->
        <select name="coleccion">
            {% for coleccion in colecciones %}
                <option value="{{ coleccion }}">{{ coleccion }}</option>
            {% endfor %}
        </select>

        <!-- Botón para enviar el formulario y mostrar detalles -->
        <input type="submit" value="Mostrar">
    </form>

    <!-- Condición para mostrar un mensaje si existe -->
    {% if mensaje %}
        <p>{{ mensaje }}</p>
    {% endif %}

{% endblock %}